$btnPaddingX: $boxModel;
$btnPaddingY: $boxModel / 3;
$btnMinHeight: $boxModel * 2;
$btnFontSize: 12px;
$btnFontWeight: 700;
$btnMinWidth: 150px;

@mixin btn($color, $outline: false, $clear: false) {
    padding: {
		top: $btnPaddingY;
		bottom: $btnPaddingY;
		left: $btnPaddingX;
		right: $btnPaddingX;
	}
	// min-height: $btnMinHeight;
	min-width: $btnMinWidth;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	font: {
		weight: $btnFontWeight;
		size: $btnFontSize;
	}
	@if $outline {
		background-color: transparent;
		border: {
			color: $color;
			style: solid;
			width: 1px;
		}
		&:hover {
			color: darken($color, 10);
			//opacity: .65;
			border-color: darken($color, 30);
			background-color: transparent;
		}
		@if $color == $secondaryColor {
			color: $secondaryColor;	
		} @else if $color == $white {
			color: $white;
		} @else {
			color: $color;
		}
	} @else if $clear {
		background-color: transparent;
		border: 0;
		&:hover {
			color: rgba(red($color), green($color), blue($color) - 50, 1);
			opacity: .65;
		}
		@if $color == $secondaryColor {
			color: $secondaryColor;	
		} @else if $color == $white {
			color: $white;
		} @else {
			color: $color;
		}
	} @else {
		background-color: $color;
		&:hover {
			//opacity: .65;
			// background-color: darken($color, 15);
		}
		@if $color == $secondaryColor or $color == $white {
		color: $black;	
	} @else {
		color: $white;
	}
	}
	display: inline-flex;
	align-items: center;
	justify-content: center;
    box-sizing: border-box;
    //border-radius: 40px;
    transition: .25s $linear;
	cursor: pointer;
	border: {
		// radius: 100px;
	}
	.ui-btn__icon {
		&.ui-btn__icon--left {
			margin: {
				right: 10px;
			}
		}
		&.ui-btn__icon--right {
			margin: {
				left: 10px;
			}

		}
	}
}
// Btn
.ui-btn,
.ui-button {
	@include btn($mainColor);
}

.ui-btn, 
.ui-button {
	&:hover {
		background-color: darken($mainColor, 5);
	}
}

.ui-btn_outline,
.ui-button_outline {
	@include btn($mainColor, true);
}

.ui-btn_clear,
.ui-button_clear {
	@include btn($mainColor, false, true);
}


// El map $color está definido en _vars.scss
// Crea un selector y valores para cada color en el map $colors
@each $color, $value in $colors {
	.ui-button_#{$color}, 
	.ui-btn_#{$color} { 
		background-color: #{$value}; 
		@if lightness($value) > 61 {
			color: $black;
		}
		@if $value == $mainColor {
			.ui-btn__icon {
				color: $pink;
			}
		}
		&:hover {
			@if lightness($value) > 50 {
				background-color: darken($value, 5);
				color: $white;
			} @else {
				background-color: lighten($value, 5);
			}
		}
	}
	.ui-btn_outline-#{$color}, 
	.ui-button_outline-#{$color} { 
		@include btn($mainColor, true);
		border-color: #{$value}; 
		color: #{$value}; 
		background-color: transparent;
		&:hover {
			@if lightness($value) > 50 {
				border-color: darken($value, 15);
				color: darken($value, 15);
			} @else {
				border-color: lighten($value, 20);
				color: lighten($value, 20);
			}
		}
	}
	// .ui-btn-clear-#{$color}, .ui-button-clear-#{$color} { background-color: #{$value}; }
}

.ui-btn_big,
.ui-button_big {
	min-height: 60px;
	font-size: 110%;
}

// anmación botón 
.ui-btn_pulse {
	transition: all .5s $cubicBezier2 !important;
	&:hover {
		transform: scale(1.1);
	}
	.ui-btn__icon {
		animation: {
			delay: .4s;
			name: pulse_iteration;
			duration: 1s;
			iteration-count: infinite;
			fill-mode: both ;
			timing-function: ease-in-out;
		}
	}

}


