/**
 * 
 * Color
 * 
 */

 @each $color, $value in $colors {
     .ui-text-#{$color} { color: #{$value}; }
     .ui-text-#{$color}-important { color: #{$value} !important; }
 }


/**
 * 
 * Estílo
 * 
 */

$fontWeigth: (
    'light': '100',
    '200': '200',
    '300': '300',
    'regular': '400',
    '500': '500',
    '600': '600',
    'bold': '700',
    '800': '800',
);

@each $weight, $value in $fontWeigth {
    .ui-text-#{$weight}, .ui-text-100 { font-weight: #{$value}; }
    .ui-text-#{$weight}-important { font-weight: #{$value} !important; }
}


.ui-text-uppercase { text-transform: uppercase; }
.ui-text-uppercase-important { text-transform: uppercase !important; }

.ui-text-underline { text-decoration: underline; }
.ui-text-underline-important { text-decoration: underline !important; }

.ui-align-center { display: block; margin: auto; }
.ui-align-center-important { display: block !important; margin: auto !important; }

.ui-link {
    transition: .25s $linear;
	color: $mainColor;
    text-decoration: underline;
}
