
// Title
[class*="ui-title"] { 
	font-family: $headersFont;
	line-height: 1;
	margin: {
		top: #{$boxModel / 2};
		bottom: #{$boxModel / 2};
	}
}

[class*="ui-title"],
.ui-title {
	font-size: $titleSize;
}

.ui-title_italic {
	@extend .ui-title;
	font-style: italic;
}

[class*="ui-title-small"],
.ui-title-small { 
	font-size: $titleSmallSize; 
}

[class*="ui-title-big"],
.ui-title-big {
	font-size: $titleBigSize;
	@media #{$mobile} { 
		font-size: $titleBigSizeMobile; 
	}
}

[class*="ui-title-extra-big"], 
.ui-title-extra-big {
	font-size: $titleExtraBigSize;
	@media #{$mobile} { 
		font-size: $titleExtraBigSizeMobile; 
	}
}


[class*="ui-title-mega-big"],
.ui-title-mega-big {
	font-weight: 300;
	text-transform: uppercase;
	line-height: .85;
	@media #{$desktop} {
		font-size: $titleMegaBigSize; 
	}
	@media #{$desktopLarge} {
		font-size: $titleMegaBigSizeDesktopLarge;
	}
	@media #{$mobile} {
		font-size: $titleMegaBigSizeMobile;
	}
	@media #{$phone} {
		font-size: $titleMegaBigSizePhone;
	}
	position: relative;
	&:before {
		content: "";
		display: inline-block;
		width: $boxModel * 2;
		height: 1px;
		background-color: $black;
		position: absolute;
		top: 0;
		bottom: 0;
		right: calc(100% + #{$boxModel / 2} );
		margin: {
			top: auto;
			bottom: auto;
		}
	}
}

[class*="ui-paragraph_big"],
.ui-paragraph_big {
	font: {
		size: $paragraphBigSize;
		weight: $paragraphBigWeight
	}
}
[class*="ui-paragraph_small"],
.ui-paragraph_small {
	font: {
		size: $paragraphSmallSize;
		weight: $paragraphSmallWeight
	}
	line-height: 1.5
}

.ui-paragraph_italic {
	font-style: italic;
}

[class*="ui-label-text"],
.ui-label-text {
	font-size: $labelTextSize;
}

[class="ui-help-text"],
.ui-help-text {
	font-size: $helpTextSize;
}


/**
 * 
 * Selectores generales para estílos de texto
 * 
 */
[class*="bold"],
.bold {
	font-weight: 700;
}

[class*="light"],
.light {
	font-weight: 100;
}

[class*="regular"],
.regular {
	font-weight: 400;
}

[class*="uppercase"],
.uppercase {
	text-transform: uppercase;
}
