/**
 * 
 * Box model
 * 
 */

.ui-box-model { padding-left: $boxModel; padding-right: $boxModel; }
@media #{$mobile} { 
	.ui-m-box-model { 
		padding-left: $boxModel; 
		padding-right: $boxModel; 
	} 
}

@media #{$desktop} { 
	.ui-d-box-model { 
		padding-left: $boxModel; 
		padding-right: $boxModel; 
	} 
}

