.page-style-guide {
    background-color: $gray;
}


#section-botones {
    [class*="ui-button"], [class*="ui-btn"] {

        margin: {
            top: 4px;
            bottom: 4px;
            right: 4px;
        }
        
    }
}

#section-colors {
    table {
        th {
            padding: {
                top: $boxModel;
                bottom: $boxModel;
            }
            text-align: left;
            font-weight: 700;
        }
        th,td {
            padding: {
                left: $boxModel;
                right: $boxModel;
            }
        }
    }
    @each $color, $value in $colors {
        .style-guide-color-#{$color} {
            background-color: $value;
            display: block;
            padding: {
                top: 4px;
                bottom: 4px;
                // left: 8px;
                // right: 8px;
            }
            margin: {
                // left: $boxModel;
                // right: $boxModel;
            }
            width: 140px;
            text-align: center;
            display: inline-block;
            @if(lightness($value) > 70) {
                color: $black;
            }
        }
    }
}