/*******************************************************************************
/* Single content */

#section-post-content
    box-sizing: border-box
    padding: 
        top: $boxModel * 4
        right: $boxModel
        bottom: $boxModel * 8
        left: $boxModel

/*******************************************************************************
/* Post nav */

#section-post-nav

.post__image
    width: 100%
    height: auto

.post__nav
    border-top: 1px solid $black
    +flexItem(center,space-between)
    padding: 
        top: $boxModel * 2
        bottom: $boxModel * 2
    &-link
        +flexItem
        @media #{$phone} 
            transform: scale(.75)
    &-next-link
    &-prev-link
    &-icon
        display: inline-block
        width: 60px
        height: 60px
        background: 
            size: contain
            position: center
        margin: 
            left: $boxModel
            right: $boxModel
    .icon-arrow_next
        background-image: url('assets/img/icon-next.png')
    .icon-arrow_prev
        background-image: url('assets/img/icon-prev.png')