.slick-arrow
    width: $boxModel * 3
    height: $boxModel * 3
    display: inline-block
    background:
        size: contain
        color: transparent
    color: transparent
    border: 0
    cursor: pointer
    transition: all .5s $cubicBezier2
    @media #{$mobile} 
        margin: 
            left: $boxModel
            right: $boxModel
    &:focus
        outline: 0
    &:hover 
        transform: scale(1.1)
.slick-next
    background-image: url('assets/img/icon-next.png')
    right: $boxModel
.slick-prev
    background-image: url('assets/img/icon-prev.png')
    left: $boxModel
.slick-dots
    +flexItem(center, flex-start)
    li 
        @media #{$desktop} 
            margin: 
                left: $boxModel
                right: $boxModel
        @media #{$mobile} 
            margin: 
                left: $boxModel / 4
                right: $boxModel / 4
        transition: all .5s $cubicBezier2
        &:hover 
            transform: scale(1.75)
        &.slick-active
            transform: scale(1.5)
        button
            cursor: pointer
            background:
                color: $mainColor
            width: 10px
            height: 10px
            border: 0
                radius: 6px
            display: block
            padding: 0
            color: transparent
            &:focus 
                outline: 0


.slider
    &__arrow
        width: $boxModel * 3
        height: $boxModel * 3
        display: inline-block
        background:
            size: contain
        position: absolute
        z-index: 1
        top: 0
        bottom: 0
        margin: auto
        cursor: pointer
        transition: all .5s $cubicBezier2
        &:hover 
            transform: scale(1.1)
        &-next
            @extend .slick-next

        &-prev
            @extend .slick-prev
    .slide
        height: 700px
        @media #{$desktopLarge} 
            height: 950px
        box-sizing: border-box
        padding: 
            top: $boxModel * 10
            right: $boxModel * 3
            bottom: $boxModel * 3
            left: $boxModel * 3
        position: relative
        &__image
            width: 100%
            height: 100%
            object:
                fit: cover
                position: bottom
            position: absolute
            top: 0
            left: 0
            z-index: 0
        &__content
            position: relative
            z-index: 1
            @extend %editor-content

.slider-blog
    .slide
        img
            width: 100%