html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

body {
	font: {
		family: $mainFont;
		size: $paragraphSize;
	}
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table { border-collapse: collapse; border-spacing: 0; }

a {
	color: inherit;
	text-decoration: none;
	&:active {
		color: $mainColor;
	}
}

strong { font-weight: 700; }

data, i { font-style: normal; }

fieldset { border: 0; }

h1,h2,h3,h4,h5,h6 {
	font: {
		family: $headersFont;
	}
}

#{$all-text-inputs} {
	color: inherit;
	box-sizing: border-box;
	height: initial;
	padding: {
		top: 6px;
		right: 6px;
		bottom: 6px;
		left: 6px;
	}
	margin: {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	border: {
		style: solid;
		width: 1px;
		color: lighten($black, 70);
	}
}

