// Colores
$mainColor: #8c8ac6;
$secondaryColor: #db789e;

$yellow: #e3b602;
$red: #e5555f;
$blue: #5566e5;
$gray: #858585;
$lightGray: #f1f1f1;
$cream: #fcecd4; 
$black: #1d2123;
$white: #ffffff;
$gold: gold;
$orange: #d09985;
$aqua: #61faef;
$purple: $mainColor;
$lilac: #8d88cb;
$green: #51c965;
$brown: brown;
$pink: $secondaryColor;
$mamey: #d99681;


$colors: (
	"main"		: $mainColor,
	"secondary"	: $secondaryColor,
	"red"		: $red,
	"yellow"	: $yellow,
	"gold"		: $yellow,
	"white"		: $white,
	"black"		: $black,
	"orange"	: $orange,
	"blue"		: $blue,
	"gray"		: $gray,
	"lightGray"	: $lightGray,
	"aqua"		: $aqua,
	"purple"	: $purple,
	"lilac"		: $lilac,
	"green"		: $green,
	"brown"		: $brown,
	"pink"		: $pink,
	"cream"		: $cream,
	"mamey"		: $mamey,
);


// Fuentes
$mainFont: 'Open Sans', 'Helvetica', sans-serif;
$headersFont: $mainFont;

// Títulos 
$titleSize: 16px;
$titleSmallSize: 16px;

$titleBigSize: 32px;
$titleBigSizeMobile: 22px;

$titleExtraBigSize: 42px;
$titleExtraBigSizeMobile: 32px;

$titleMegaBigSize: 54px;
$titleMegaBigSizeDesktopLarge: 60px;
$titleMegaBigSizeMobile: 44px;
$titleMegaBigSizePhone: 28px;

$paragraphSize: 16px;
$paragraphWeight: 400;

$paragraphSmallSize: 14px;
$paragraphSmallWeight: 400;

$paragraphBigSize: 18px;
$paragraphBigWeight: 100;

$labelTextSize: 13px;
$helpTextSize: 10px;


// Caja
$boxModel: 20px;

// Media queries
$mobileMaxWidth: 756px;
$phoneMaxWidth: 416px;
$phoneSmallMaxWidth: 320px;
$desktopMaxWidth: 1280px;
$desktopLargeMinWidth: 1440px;

$mobile: ( max-width: $mobileMaxWidth );
$tablet: ( max-width: $mobileMaxWidth );
$phone: ( max-width: $phoneMaxWidth );
$phoneSmall: ( max-width: $phoneSmallMaxWidth );
$desktop: ( min-width: $mobileMaxWidth + 1 );
$desktopLarge: ( min-width: $desktopLargeMinWidth );
$desktopMedium: ( max-width: $desktopMaxWidth );

$onlyTablet: ( min-width: $phoneMaxWidth + 1 ) and ( max-width: #{$mobileMaxWidth} );
$onlyDesktopMedium: ( min-width: #{$desktopMaxWidth + 1} ) and ( max-width: $desktopLargeMinWidth );
$fromTablet: ( min-width: $phoneMaxWidth );

// Animaciones
$cubicBezier: cubic-bezier(1, -0.05, 0.2, 1);
$cubicBezier2: cubic-bezier(0.59,-1.77, 0.2, 1);
$linear: linear;

// adminbar
$adminbarHeight: 60px;



