%editor-content 
    h1 
        @extend .ui-title-mega-big
        margin:
            // bottom: $boxModel
    h2 
        @extend .ui-title-extra-big
    h3
        @extend .ui-title-big
    h4
        @extend .ui-title
    h5, h6
        @extend .ui-title-small
    ul 
        li 
            +flexItem(center, flex-start)
            position: relative
            &:before 
                content: ""
                display: inline-block
                width: $boxModel * 2
                height: 1px 
                background-color: $black
                position: absolute
                right: 100%
    p 
        margin: 
            top: $boxModel
            bottom: $boxModel

.post-edit-link
    position: fixed
    z-index: 9999999999
    bottom: 0
    left: 0
    right: 0
    margin: auto
    background-color: rgba( $black, .75 )
    width: 80px
    padding: 4px
    color: white
    text-align: center
    font-size: 9px