@import 'vars'

.appearance_page_branding_page
    #post-body-content
        tr[valign="top"]:first-child:not(.alternate)
            background-color: #c7c7c7
    #minor-publishing 
        background-color: #c7c7c7
        padding:
            top: $boxModel
            bottom: $boxModel
