body
    background:
        color: $lightGray
        image: url('assets/img/background-textura.png')

.wk-section-wrap
    box-sizing: border-box
    padding: 
        left: $boxModel
        right: $boxModel