@import 'parts/_vars';

/* Toolbar */

	#wpadminbar {
	background-color: #FFF;
	color: #000;
	height: $wpadminbarHeight;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	position: fixed;
	}

		/* Toolbar labels */
		#wpadminbar .ab-empty-item,
		#wpadminbar a.ab-item,
		#wpadminbar>#wp-toolbar span.ab-label,
		#wpadminbar>#wp-toolbar span.noticon,
		/* Toolbar Icons */
		#wpadminbar #adminbarsearch:before,
		#wpadminbar .ab-icon:before,
		#wpadminbar .ab-item:before {
			color: inherit;
		}

		/* Toolbar Icons */
		#wpadminbar #adminbarsearch:before,
		#wpadminbar .ab-icon:before,
		#wpadminbar .ab-item:before {
			opacity: .9;
		}

		/* Logo */
		#wp-admin-bar-site-logo {
		padding: 0px 12px !important;
		}

		/* Toolbar each link */
		#wpadminbar .quicklinks .ab-empty-item,
		#wpadminbar .quicklinks a,
		#wpadminbar .shortlink-input {
		height: $wpadminbarHeight;
		display: flex;
		align-items: center;
		}


		/* Toolbar each link on hover */
		#wpadminbar .ab-top-menu>li.hover>.ab-item,
		#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
		#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
		#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
		background: #fafafa;
		color: inherit;
		}

		/* Avatar & user info */

		#wpadminbar .avatar-32 {
	    max-width: 32px;
		}

		#wpadminbar .avatar-64 {
		max-width: 64px;
		}

		#wp-admin-bar-my-account .avatar {
			width: 32px !important;
			height: 32px !important;
			border: none !important;
			background-size: cover;
			border-radius: 100px;
			margin-left: 10px;
			background-position: center;
		}


// WP 5.1.1 


// Body 
@media (min-width: 782px) {
	.edit-post-layout__content {
		margin-left: $adminmenuWidth;
	}
}

// Toolbar wpadminbar wp adminbar 
@media (min-width: 782px) {
	.edit-post-header {
		left: $adminmenuWidth;
		top: $wpadminbarHeight;
    }
    #wp-admin-bar-my-account {
        padding-right: $wpadminbarHeight / 3 !important;
    }
}

// Edit post sidebar
@media (min-width: 782px) {
    .edit-post-sidebar {
        top : #{$wpadminbarHeight + $editpostheader};
    }
}

// Body editor
@media (min-width: 782px) {
    .components-notice-list {
        left: $adminmenuWidth;
    }
    .edit-post-layout__content {
        top: #{$wpadminbarHeight + $editpostheader};
		min-height: calc(100% - #{$wpadminbarHeight + $editpostheader});
		margin-left: $adminmenuWidth !important;
    }
}

@media screen and (max-width: 600px) {
    #wpbody {
        padding-top: 0;
    }

    .edit-post-header {
        z-index: 99999;
    }
}