
/*******************************************************************************
/* Heading */

.heading
    @media #{$mobile} 
        // width: 100%
    margin: 
        top: $boxModel
        bottom: $boxModel
    &__subtitle
        @extend .ui-title
        color: $secondaryColor
    &__title
    &__content
    &__link
        +flexItem(center,center,column)
        &-icon
            margin-bottom: $boxModel / 3

/*******************************************************************************
/* Sección heading */

.section-heading
    margin:
        top: $boxModel
        bottom: $boxModel
    

/*******************************************************************************
/* Sección galería */

.section-galeria
    margin:
        bottom: $boxModel * 8
    [class*="wk-col"] 
        +flexItem(center, flex-start)
    &__nav
        .slick-list
            padding: 
                left: 0 !important
                right: 0 !important
        &-item
            cursor: pointer
            @extend .ui-button_outline
            @extend .ui-paragraph_italic
            margin:
                top: $boxModel
                left: $boxModel / 3
                right: $boxModel / 3
            @media #{$mobile} 
                min-width: initial !important
            @media #{$phone} 
                width: calc(100%) !important
                margin: 
                    left: 0
                    right: 0
                    top: $boxModel / 4
                    bottom: $boxModel / 4
            &.slick-current
                @extend .ui-button
    &__tabs

/*******************************************************************************
/* Sección Propiedades */

.section-propiedades
    margin:
        bottom: $boxModel * 8

.propiedades
    [class*="wk-col"] 
        flex-basis: initial
    &__block
        &:not(:last-child)
            margin-bottom: $boxModel * 2
    &__data
        +flexItem(center, center, column)
        @media #{$desktop} 
            border-right: 1px solid $gray
        @media #{$mobile} 
            border-top: 1px solid $gray
            margin-top: $boxModel
        box-sizing: border-box
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel
        text-align: center
        @media #{$desktop} 
            margin-right: $boxModel
        &-num
            font:
                size: 32px
                weigth: 900
        &-label
            @extend .ui-paragraph_italic
            color: $secondaryColor
            font-weight: 600
    &__gal
        @media #{$desktop} 
            +flexItem(center,space-between,row,wrap)            
        @media #{$mobile} 
            +flexItem(center,center,row, wrap)
        &-img
            @media #{$mobile} 
                margin:
                    top: $boxModel / 2
                    right: $boxModel / 2
            margin: 
                left: $boxModel / 2

/*******************************************************************************
/* Sección mapa */

.section-mapa
    iframe
        width: 100%;
        height: 369px

.mapa 
    position: relative 
    &__thumbnail
        cursor: pointer
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object:
            fit: contain 
            position: center
        background: 
            color: $white
            image: url('assets/img/background-textura.png')
    &__embed

/*******************************************************************************
/* sección imagen */

.section-imagen
    img 
        vertical-align: middle

/*******************************************************************************
/* Sección timeline */

.section-timeline

/*******************************************************************************
/* Slider alt */

#slider-alt__nav
    +flexItem(center, flex-end, row-reverse)
    @media #{$desktop} 
        transform: translateY(200px)
    @media #{$mobile} 
        transform: translateY(50px)
        
    position: relative
    z-index: 1

.slider-alt
    &__item
        &-container
            +flexItem(flex-start,center,column)
            height: 900px
    &__img
        transition: transform 1s $cubicBezier .25s, opacity .5s $linear .5s
        opacity: 0
        &_top
            transition: transform 1s $cubicBezier .25s, opacity 0s $linear 0s
            margin:
                left: auto
                right: 0
            transform: translate(50px, -50px)
            @media #{$mobile} 
                width: 80vw
                
        &_bot
            transform: translate(-200px, 50px)
            @media #{$desktop} 
                width: 80%
                height: 450px
            @media #{$mobile} 
                width: 90vw
                height: 300px
            object:
                fit: cover
                position: center
    .slick-active 
        .slider-alt__img
            
        .slider-alt__img_top
            transition: transform 1s $cubicBezier .25s, opacity 0s $linear .5s
            transform: translate(0, 0)
            opacity: 1
        .slider-alt__img_bot
            @media #{$desktop} 
                transform: translate(-100px, -100px)
            @media #{$mobile} 
                transform: translate(-80px, -40px)
            opacity: 1

/*******************************************************************************
/* Timeline */

.section-timeline
    position: relative

.timeline
    &__bg
        position: absolute
        top: 0
        left: 0
        background:
            image: url('timeline_bg')
            repeat: no-repeat
            size: cover
            position: center
        width: 100%
        height: 100%
        object:
            fit: cover
            position: center
    &__slide
        @media #{$desktop} 
            padding: 
                top: $boxModel * 8
                bottom: $boxModel * 8
                // left: $boxModel * 4
                // right: $boxModel * 4
        @media #{$mobile} 
            padding: 
                top: $boxModel
                bottom: $boxModel * 4
    &__item
        background:
            // color: $white
            image: url('assets/img/circulo.png')
            size: contain
            repeat: no-repeat
            position: center
        border-radius: 1000px
        margin: auto
        @media #{$desktop} 
            width: 320px
            padding:
                top: $boxModel * 6
                bottom: $boxModel * 6
                left: $boxModel * 3
                right: $boxModel * 3
        @media #{$mobile} 
            box-sizing: border-box
            padding:
                top: $boxModel * 6
                bottom: $boxModel * 6
                left: $boxModel
                right: $boxModel            
        text-align: center
    &__fecha
        color: $pink
        font:
            weight: 600
    &__title
        text-transform: uppercase
        color: $pink
        margin: 
            top: $boxModel
            bottom: $boxModel
    &__content
        @extend .ui-paragraph_small
    &__arrow
        @media #{$mobile} 
            top: unset
            bottom: $boxModel
            filter: contrast(200) grayscale(1) invert(100)
            
    &__dots
        +flexItem
        position: absolute
        bottom: $boxModel * 2
        left: 0
        right: 0
        margin:
            left: auto
            right: auto
        @media #{$mobile} 
            
