/*******************************************************************************
/* Slider */

#section__slider 

// Los estílos del slider se encuentran en components/slider

/*******************************************************************************
/* Formulario booking agenda tu cita */

#section__agenda-tu-cita
    @media #{$desktop} 
        transform: translateY(-60px)
    @media #{$mobile} 
        transform: translateY(-80px)
        

.booking 
    margin: 
        top: $boxModel
        bottom: $boxModel
    $fieldHeight: $boxModel * 4
    &form,
    form 
        @media #{$desktop} 
            +flexItem(center,center,row,wrap)
        > p 
            // display: inline-block
    &__nombre
        @media #{$desktop} 
            width: 250px
    &__email
        @media #{$desktop} 
            width: 250px
    &__tel
        @media #{$desktop} 
            width: 180px
    color: $white
    &__label
        background-color: $mamey
        display: inline-block
        box-sizing: border-box
        padding: 
            right: $boxModel
            left: $boxModel
        > span
            width: 100%
            &:after,
            &:before 
                transition: all .5s $cubicBezier
                content: ""
                height: 3px
                background-color: $white
                position: absolute
                top: 100%
                left: 0
            &:before 
                width: 100%
            &:after 
                width: 0%
                z-index: 2
                background-color: $lilac 
        &:hover
            > span
                &:after
                    width: 100%
    #{$all-text-inputs}
        border: 0
        position: relative
        background-color: transparent
        @extend .ui-label-text
        text-transform: uppercase
        font-style: italic
        width: initial
        &::placeholder
            color: $white
        &:focus 
            outline: 0

    #{$all-buttons}
        color: inherit
        background-color: $lilac
        border: 0
        text-transform: uppercase
        font: 
            style: italic
            weight: 600
        @media #{$desktop} 
            margin:
                left: $boxModel / 3
                right: $boxModel / 3
        padding: 
            left: $boxModel
            right: $boxModel
        cursor: pointer
    &__label,
    #{$all-buttons}
        height: $fieldHeight
        display: inline-flex
        align-items: center
        @media #{$mobile} 
            width: 100%
    .wpcf7-response-output
        color: $black
        &.wpcf7-mail-sent-ng
            background-color: $red 
            color: $white

/*******************************************************************************
/* Section residencial img */

#section__residencial-img 
    margin-top: -160px

/*******************************************************************************
/* Builder */

