.appearance_page_branding_page #post-body-content tr[valign="top"]:first-child:not(.alternate) {
  background-color: #c7c7c7; }

.appearance_page_branding_page #minor-publishing {
  background-color: #c7c7c7;
  padding-top: 20px;
  padding-bottom: 20px; }

/*# sourceMappingURL=admin.css.map */