/*******************************************************************************
/*******************************************************************************
/* Section main footer  */

#section__main-footer
    background:
        color: $mainColor



/*******************************************************************************
/* Block main footer */

.main-footer
    color: $white
    box-sizing: border-box
    padding: 
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel
    +flexItem(center,center, column)
    &__logo
        width: 220px
        margin: 
            top: $boxModel
            bottom: $boxModel
        &-img
            width: 100%
            height: auto

/*******************************************************************************
/* Block address */
    
.address
    @media #{$desktop} 
        +flexItem
    @extend .ui-title
    font:
        weight: 600
    margin: 
        top: $boxModel
        bottom: $boxModel
    &__div
        margin:
            left: $boxModel
            right: $boxModel
        @media #{$mobile} 
            display: none
    &__label
        text-transform: uppercase
    &__block
        @media #{$mobile} 
            margin: 
                top: $boxModel
                bottom: $boxModel
        text-align: center
        display: block
    &__tel
    &__dir
        @media #{$mobile} 
            margin:
                bottom: $boxModel


/*******************************************************************************
/* Block social links */

.s-links
    @media #{$desktop} 
        +flexItem
.s-link
    +flexItem
    text-decoration: none
    @media #{$mobile} 
        margin:
            bottom: $boxModel
    &__icon
        font:
            size: 32px
        margin:
            left: $boxModel / 2
            right: $boxModel / 2
    &__content
        @extend .ui-label-text

/*******************************************************************************
/* Legales */

.legals
    padding:
        top: $boxModel / 2
        bottom: $boxModel * 8
    font:
        weight: 600
    @extend .ui-help-text
    @media #{$mobile} 
        text-align: center
    > .wk-cols
        @media #{$mobile} 
            flex-direction: column-reverse
    &__nav
        ul 
            @media #{$desktop} 
                +flexItem(center, flex-end)
        &-copy
            @media #{$mobile} 
                padding:
                    top: $boxModel / 2
                    bottom: $boxModel / 2
        &-item
            @media #{$mobile} 
                padding:
                    top: $boxModel / 2
                    bottom: $boxModel / 2
            &:not(:last-child)
                margin:
                    right: $boxModel
                