/*******************************************************************************
/* Encabezado principal */

#section-main-header
    .page-inicio & 
        position: absolute
    top: 0
    z-index: 11

.main-header
    box-sizing: border-box
    padding:
        top: $boxModel
        right: $boxModel
        bottom: $boxModel
        left: $boxModel
    width: 100%
    height: 160px
    @at-root body 
        position: relative
    &__cols
    &__col
        +flexItem(center)
        &_left
        &_right
            justify-content: flex-end
    &__offcanvas
        margin:
            right: $boxModel
            left: $boxModel
        flex: auto
        &-icon
            width: $boxModel
            text-align: center
            cursor: pointer
    &__logo
    &__logo-img
        width: 180px
        height: auto



/*******************************************************************************
/* Menú principal */

.main-nav
    transition: all .5s $cubicBezier
    &__menu
        +flexItem(center,flex-end)
        .menu-item
            &:not(:last-child)
                margin:
                    right: $boxModel * 3
        .current-menu-item,
        .current_page_parent
            border-bottom: 4px solid $mainColor
            
    
    @media #{$mobile} 
        transform: translateX(-100%)
        .offcanvas-is-active & 
            transform: translateX(0)
        position: fixed
        z-index: 11
        top: 0
        .admin-bar & 
            top: 46px
        left: 0
        width: calc(100% - #{$boxModel * 5})
        // max-width: $phoneSmallMaxWidth
        height: 100%
        background-color: $mainColor
        box-sizing: border-box
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel
        color: $white
        &__menu
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
            line-height: 2
            .menu-item 
                transition: all 1s $cubicBezier
                transform: translateY(-100%)
                opacity: 0
                .offcanvas-is-active &
                    opacity: 1
                    transform: translateY(0)
            .current-menu-item
                border-color: $white
                