/*******************************************************************************
/* Section feed */

#section-feed

/*******************************************************************************
/* Excerpt */

.feed
    &__loadmore
        margin:
            top: $boxModel
            bottom: $boxModel
            left: auto
            right: auto
        display: block
        width: 100%
        max-width: 200px
        &.ui-btn,
        &.ui-btn_outline
            margin-top: $boxModel * 4
        &-icon 
            width: 16px
            height: auto
            vertical-align: middle
    &__die
        text-align: center
        display: block
        margin: 
            top: $boxModel * 2
        opacity: 0
        transition: all .5s $cubicBezier2
        position: relative
        top: $boxModel

.excerpt
    transition: all 1s $cubicBezier
    box-sizing: border-box
    padding:
        top: $boxModel * 2
        bottom: $boxModel * 2
    &:not(:last-child)
        border-bottom: 1px solid $black
    > .wk-cols
        @media #{$mobile} 
            flex-direction: column-reverse
    &:nth-child(even) 
        > .wk-cols 
            @media #{$desktop} 
                flex-direction: row-reverse
        .excerpt__content
            @media #{$desktop} 
                margin-left: $boxModel
        .excerpt__thumbnail
            @media #{$desktop} 
                margin-right: $boxModel
    &__content
        @media #{$desktop} 
            margin-right: $boxModel
    &__thumbnail
        @media #{$desktop} 
            margin-left: $boxModel
        img
            object: 
                fit: cover
                position: center
            height: 250px
            width: 100%
            @media #{$mobile} 

    &__date
    &__title
        margin:
            bottom: $boxModel
    &__content
    &__btn
        min-height: $boxModel * 2.5
        width: 220px
        font-size: 110%
        font-weight: 400
        font-style: italic
        display: block
        +flexItem
        margin:
            left: auto
            right: auto
        @media #{$phone} 
            width: 100%
    @for $i from 1 through 20
        &:nth-child(#{$i})
            @if $i % 3 == 0
                .excerpt__btn
                    @extend .ui-btn_pink
                    color: $white
            @if $i % 2 == 0
                .excerpt__btn
                    @extend .ui-btn_orange
                    color: $white

    
    p 
        margin:
            top: $boxModel
            bottom: $boxModel

/*******************************************************************************
/* Section blog footer */

#section-blog-footer
    img
        width: 100%
        height: auto 
        vertical-align: middle
        